/*
Contrast Ratio min.: 7:1
#595959 auf #fff
#414141 auf #d6d6d6
*/

/* === MISC ===*/
body {
	font-size: 17px;
}
html, body {
  height:100%;
} 

.btn-primary {
	background-color: #3399cc;
	color: #fff;
	border-radius: 15px;
	border: none;
	margin: auto;
}

/* === Header ===*/

.navbar-right {
	font-size: 20px;
	font-weight: bold;
}

.navbar-brand {
	color: #414141 !important;
	font-weight: bold;
	font-size: 30px;
}

.navbar-right a {
	color: #414141 !important;
}

.navbar-right a:hover {
	color: #fff !important;
	background-color: #3399cc !important;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.navbar-static-top {
	background-color: #d6d6d6;
	border-bottom: solid 7px #3399cc;
}

.navbar-brand img {
	height: 250%;
}

/* === FOOTER ===*/
.footer {
	background-color: #d6d6d6;
	border-top: solid 7px #3399cc;
	color: #414141;
	font-size: 14px !important;
	font-weight: initial;
	text-align: center;
	padding-top: 10px;
}

.navbar {
	margin-bottom: 0;
}

/* === MAIN ===*/
.featured h1 {
	text-align: center;
}

.header-img {
	position: relative;
	background-color: #fff;
	box-shadow: 0px 5px 4px 2px rgba(0,0,0,0.1);
	border: 7px solid #d6d6d6;
	margin-bottom: 40px;
}

.header-img:before, .header-img:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 5px;
	left: 3px;
	width: 50%;
	top: 80%;
	max-width:300px;
	background: #777;
	-webkit-box-shadow: 0 15px 7px rgba(119, 119, 119, 0.8);
	-moz-box-shadow: 0 15px 7px rgba(119, 119, 119, 0.8);
	box-shadow: 0 15px 7px rgba(119, 119, 119, 0.8);
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

.header-img:after {
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	-ms-transform: rotate(3deg);
	transform: rotate(3deg);
	right: 3px;
	left: auto;
}

.featured {
	padding: 40px;
	color: #595959;
	font-size: 115%;
	text-align: left;
	margin-bottom: 40px;
}


#myCarousel {
	margin-top: 40px;
	margin-bottom: 20px;

}

.carousel-caption {
	background-color: rgba(0,0,0, 0.5);
	font-size: 20px;
}

.carousel-caption h3{
	font-size: 60px;
	color: #fff !importants;
}

.container {
	border-left: 4px solid #d6d6d6;
	border-right: 4px solid #d6d6d6;
	padding-left: 40px;
	padding-right: 40px;
	min-height: 100%;
	height:auto !important;
	height:100%;;
}

.thumbnail {
	border: none;
	border-radius: 0;
	padding: 15px;
	margin: 0;
}

.thumbnail h3 {
	padding-bottom: 15px;
}

.thumbnail-before {
	background-color: #d6d6d6;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom: solid 7px #3399cc;	
	padding: 15px;
}

.thumbnail .link {
	background-color: #e5e5e5;
	padding: 10px;
	font-size: 12px;
	margin-bottom: 0px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	text-align: center;
}

.thumbnail .caption .btn {
	width: 100% ;
	font-size: 20px;
	font-weight: bold;
	border-radius: 0px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.widget {
	margin-top: 40px; 
	margin-bottom: 40px; 
}

table #head{
	background-color: #595959;
	color: #fff;
}


@media only screen and (max-width: 767px) { 
	.widget {
		border-top: 4px solid #d6d6d6;
	}


	.container {
		padding-left: 10px;
		padding-right: 10px;
		border: none;
	}
}