/* === MISC ===*/
body {
	font-size: 17px;
}

.btn-primary {
	background-color: #3399cc;
	color: #fff;
	border-radius: 15px;
	border: none;
	margin: auto;
}

/* === Header ===*/
.navbar {
	margin-bottom: 0;
}

.navbar-right {
	font-size: 20px;
	font-weight: bold;
}

.navbar-brand {
	color: #666 !important;
	font-weight: bold;
	font-size: 30px;
}

.navbar-right a {
	color: #666;
}

.navbar-right a:hover {
	color: #fff !important;
	background-color: #3399cc !important;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

.navbar-static-top {
	background-color: #d6d6d6;
	border-bottom: solid 7px #3399cc;
}

.navbar-brand img {
	height: 250%;
}
/* === FOOTER ===*/
.footer {
	background-color: #d6d6d6;
	border-top: solid 7px #3399cc;
	color: #898989;
	font-size: 14px !important;
	font-weight: initial;
	text-align: center;
	padding-top: 10px;
}

/* === MAIN ===*/


.featured {
	padding: 40px;
	color: #898989;
	font-size: 115%;
	text-align: left;
	margin-bottom: 40px;
}


#myCarousel {
	margin-top: 40px;
	margin-bottom: 20px;

}

.carousel-caption {
	background-color: rgba(0,0,0, 0.5);
	font-size: 20px;
}

.carousel-caption h3{
	font-size: 60px;
	color: #fff !importants;
}

.container {
	border-left: 4px solid #d6d6d6;
	border-right: 4px solid #d6d6d6;
	padding-left: 40px;
	padding-right: 40px;
}

.thumbnail {
	border: none;
	border-radius: 0;
	padding: 15px;
	margin: 0;
}

.thumbnail h3 {
	padding-bottom: 15px;
}

.thumbnail-before {
	background-color: #d6d6d6;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom: solid 7px #3399cc;	
	padding: 15px;
}

.thumbnail .link {
	background-color: #e5e5e5;
	padding: 10px;
	font-size: 12px;
	margin-bottom: 0px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	text-align: center;
}

.thumbnail .caption .btn {
	width: 100% ;
	font-size: 20px;
	font-weight: bold;
	border-radius: 0px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.widget {
	margin-top: 40px; 
	margin-bottom: 40px; 
}

table #head{
	background-color: #898989;
	color: #fff;
}


@media only screen and (max-width: 767px) { 
	.widget {
		border-top: 4px solid #d6d6d6;
	}


	.container {
		border: none;
		padding-left: 10px;
		padding-right: 10px;
	}
}