.navbar-right {
	font-size: 20px;
	font-style: heavy
}

.navbar-brand {
	color: #666 !important;
	font-weight: bold;
	font-size: 30px;
}

.navbar-right a {
	color: #666;
}

.navbar-right a:hover {
	color: #fff;
	background-color: #3399cc !important;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.navbar-static-top {
	background-color: #d6d6d6;
	border-bottom: solid 7px #3399cc;
}

/* === FOOTER ===*/
.footer {
	background-color: #d6d6d6;
	border-top: solid 7px #3399cc;
	color: #898989;
	font-size: 14px !important;
	font-weight: initial;
	text-align: center;
	padding-top: 10px;
}